@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Space Grotesk', 'Overpass', 'Roboto', 'Red Hat Display', sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 3%, 87%);
  --darkGrayishViolet: hsl(279, 6%, 55%);
  --veryDarkViolet: hsl(278, 68%, 11%);
  --fontSize: 18px;
  --color: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

body {
  background: var(--white);
  background-image: url('../images/bg-main-desktop.png');
  background-repeat: no-repeat;
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.cardFront {
  width: 350px;
  height: 200px;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 25px;
  /* border-radius: 15px; */
  margin-left: 100px;
}

.cardFront .bg {
  width: 100%;
  height: 100%;
}

.cardFront .card-logo {
  position: absolute;
  top: 5%;
  left: 10%;
}

.cardFront .card-num {
  position: absolute;
  color: white;
  top: 55%;
  left: 10%;
  letter-spacing: 2px;
  font-weight: 500;
}

.cardFront .card-hr {
  position: absolute;
  color: white;
  width: fit-content;
  top: 80%;
  left: 10%;
}

.cardFront .date {
  position: absolute;
  color: white;
  width: fit-content;
  top: 80%;
  left: 80%;
}

.cardBack {
  width: 350px;
  height: 200px;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 250px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #666;
}

.cardBack img {
  width: 100%;
  height: 100%;
}

.cardBack .cvc {
  position: absolute;
  color: var(--white);
  top: 45%;
  left: 79%;
}

.section2 {
  flex-basis: 70%;
  padding-left: 6rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

input {
  width: 300px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--LightGrayishViolet);
  outline: none;
  margin-bottom: 10px;
}
input:active,
input:focus {
  border: 1px solid var(--veryDarkViolet);
}

button {
  width: 310px;
  padding: 5px;
  background: var(--veryDarkViolet);
  color: var(--white);
  border: none;
  border-radius: 5px;
}
.exp_cvc {
  display: flex;
  gap: 2rem;
}
.exp_cvc .contain {
  display: flex;
  flex-direction: column;
}
.exp_cvc .contain span {
  display: flex;
}
.exp_cvc .contain input {
  width: 50px;
}
.cvcHr {
  width: 130px !important;
}